node_modules
npm-debug.log
Dockerfile*
.dockerignore
.git
.gitignore
README.md
.env
.env.local
.nyc_output
coverage
.cache
*.log
public/downloads/*
!public/downloads/.gitkeep
error.csv
data.csv
files.json
func/tempDB.json
func/download_history.json

